@use 'sass:map';
@use '@/shared/styles/variables.scss' as v;

.container {
    position: relative;

    @media (max-width: 540px) {
        width: 100%;
    }

    &--searching {
        &:before {
            visibility: visible;
        }

        input {
            visibility: hidden;
        }
    }
}

.searching-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    display: block;

    &:before {
        content: 'Determining the location.';
        animation-name: searching-location;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

.container input, .searching-placeholder {
    padding-bottom: 5px;
    min-width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid map.get(v.$color, 'white', 'regular');
    font-size: 16px;
    background-color: transparent;
    color: map.get(v.$color, 'white', 'transparent', '60');

    @media (max-width: 540px) {
        min-width: 100%;
    }
}

.container input {
    &::placeholder {
        color: map.get(v.$color, 'white', 'transparent', '60');
    }

    &:focus {
        &::placeholder {
            color: map.get(v.$color, 'white', 'regular');
        }

        color: map.get(v.$color, 'white', 'regular');
    }

    &[disabled="disabled"],
    &:disabled {
        user-select: none;
    }
}

@keyframes searching-location {
    0% {
        content: 'Determining the location.';
    }
    33% {
        content: 'Determining the location..';
    }
    66% {
        content: 'Determining the location...';
    }
}