@use 'sass:map';
@use '@/shared/styles/variables.scss' as v;

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__window {
        display: flex;
        flex-direction: column;
        max-width: 998px;
        min-height: 470px;
        width: 100%;
        background-color: map.get(v.$color, 'black', 'transparent', '40');
    }

    &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }

    &__location-identifier {
        margin-left: auto;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__loader {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}